{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <!-- CSS -->
    <style>
        .icon {
            margin-right: 10px;
        }
        .bold {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mt-4">
                    <h3>
                        本系统是基于深度学习的卫星目标检测系统
                    </h3>
                    <br>
                    <p>
                        <span class="icon"><img src="{{ url_for('static', filename='assets/img/about_baseline_icon.png') }}" alt="baseline" height="28"></span>
                        <span class="bold">基线模型</span> 
                        <div class="col-md-6">
                            <p>鉴于YOLOv7具有精度高、轻量化的特点，本系统选取YOLOv7为基线模型。</p>
                            <p>&nbsp;</p>
                        </div>
                    </p>
                    <p>
                        <span class="icon"><img src="{{ url_for('static', filename='assets/img/about_dataset_icon.png') }}" alt="dataset" height="28"></span>
                        <span class="bold">数据集</span> 
                        <div class="col-md-6">
                            <p>本系统采用的是COCO数据集。</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;训练集：2,416个卫星主体</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;验证集：558个卫星主体</p>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
