{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <!-- CSS -->
    <style>
        .icon {
            margin-right: 10px;
        }
        .bold {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mt-4">
                    <h1>
                        本系统是基于XXXXXXX的系统
                    </h1>
                    <br>
                    <p>
                        <span class="icon"><img src="{{ url_for('static', filename='assets/img/about_baseline_icon.png') }}" alt="baseline" height="24"></span>
                        <span class="bold">基线模型</span> 
                        <div class="col-md-6">
                            <h4>Multiple Lines Text</h4>
                            <p>This is a sample text with multiple lines. You can add more content here.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique tellus id orci ultrices, at consectetur quam suscipit. Sed nec enim quis orci scelerisque tempor nec id arcu.</p>
                            <p>Donec interdum diam non nulla vehicula, et varius lacus pretium. Curabitur eget volutpat quam. Aliquam eget metus sit amet nibh consequat feugiat non id est.</p>
                        </div>
                    </p>
                    <p>
                        <span class="icon"><img src="{{ url_for('static', filename='assets/img/about_dataset_icon.png') }}" alt="dataset" height="24"></span>
                        <span class="bold">数据集</span> 
                        <div class="col-md-6">
                            <h4>Multiple Lines Text</h4>
                            <p>This is a sample text with multiple lines. You can add more content here.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique tellus id orci ultrices, at consectetur quam suscipit. Sed nec enim quis orci scelerisque tempor nec id arcu.</p>
                            <p>Donec interdum diam non nulla vehicula, et varius lacus pretium. Curabitur eget volutpat quam. Aliquam eget metus sit amet nibh consequat feugiat non id est.</p>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
