{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% set default_image = url_for('static', filename='assets/img/placeholder_img.png') %}
            <!-- Left column -->
            <div class="col">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h5>改进前</h5>
                    <img src="{{ before_image if before_image else default_image }}" alt="Left Image" class="img-fluid">
                </div>
            </div>
            <!-- Right column -->
            <div class="col">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h5>改进后</h5>
                    <img src="{{ after_image if after_image else default_image }}" alt="Right Image" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <!-- Left column -->
            <div class="col">
                <h6>卫星目标：{{ before_result|length }}件</h6>
            </div>
            <!-- Right column -->
            <div class="col">
                <h6>卫星目标：{{ after_result|length }}件</h6>
            </div>
        </div>
        <div class="row">
            <!-- Left column -->
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>x</th>
                            <th>y</th>
                            <th>w</th>
                            <th>h</th>
                            <th>置信度</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in before_result %}
                        <tr>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Right column -->
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>x</th>
                            <th>y</th>
                            <th>w</th>
                            <th>h</th>
                            <th>置信度</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in after_result %}
                        <tr>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
